################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0-windows
/obj
/.vs
/RumDefence.Web/bin/Debug/net8.0
/RumDefence.Web/obj
